<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <system.webServer>
        <handlers accessPolicy="Read, Script">
            <remove name="CGI-exe" />
            <!-- <remove name="Python" />
            <add name="Python" path="*.py" verb="*" modules="CgiModule" scriptProcessor="C:\Users\A3Buser\AppData\Local\Programs\Python\Python311\python.exe" resourceType="File" requireAccess="Script" /> -->
            <add name="CGI-exe" path="*.exe" verb="*" modules="CgiModule" resourceType="File" requireAccess="Execute" allowPathInfo="true" />
            <add name="PythonHandler" path="*" verb="*" modules="httpPlatformHandler" resourceType="Unspecified" />
            <!-- <add name="Python FastCGI" path="*" verb="*" modules="FastCgiModule" scriptProcessor="C:\Users\A3Buser\AppData\Local\Programs\Python\Python311\python.exe|C:\Users\A3Buser\AppData\Local\Programs\Python\Python311\Lib\site-packages\wfastcgi.py" resourceType="Unspecified" requireAccess="Script" /> -->
        </handlers>
        <httpPlatform
                    processPath="C:\Users\A3Buser\A3BMakuhariTrial_Backend\backend\venv\Scripts\python.exe"
                    arguments="C:\Users\A3Buser\A3BMakuhariTrial_Backend\backend\app.py --port %HTTP_PLATFORM_PORT%"
                    stdoutLogEnabled="true"
                    stdoutLogFile="C:\Users\A3Buser\A3BMakuhariTrial_Backend\backend\logs\python.log"
                    startupTimeLimit="10"
                    processesPerApplication="1"
                    >
        <environmentVariables>
            <environmentVariable name="SERVER_PORT" value="%HTTP_PLATFORM_PORT%" />
        </environmentVariables>
        </httpPlatform>
        <!-- <rewrite>
            <rules>
                <rule name="ReverseProxyInboundRule1" enabled="false" stopProcessing="true">
                    <match url="(.*)" />
                    <action type="Rewrite" url="http://localhost:5000/{R:1}" />
                </rule>
            </rules>
        </rewrite> -->
    </system.webServer>
</configuration>
