<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <system.webServer>
        <handlers accessPolicy="Read, Script">
            <remove name="CGI-exe" />
            <!-- <remove name="Python" />
            <add name="Python" path="*.py" verb="*" modules="CgiModule" scriptProcessor="C:\Users\a3bvmadmin\AppData\Local\Programs\Python\Python311\python.exe" resourceType="File" requireAccess="Script" /> -->
            <add name="CGI-exe" path="*.exe" verb="*" modules="CgiModule" resourceType="File" requireAccess="Execute" allowPathInfo="true" />
            <!-- <add name="PythonHandler" path="*" verb="*" modules="httpPlatformHandler" scriptProcessor="C:\Users\a3bvmadmin\AppData\Local\Programs\Python\Python311\python.exe" resourceType="Unspecified" requireAccess="Script" /> -->
            <add name="PythonHandler" path="*" verb="*" modules="httpPlatformHandler" scriptProcessor="C:\inetpub\wwwroot\ManagementApp\src\backend\venv\Scripts\python.exe" resourceType="Unspecified" requireAccess="Script" />
            <!-- <add name="Python FastCGI" path="*" verb="*" modules="FastCgiModule" scriptProcessor="C:\Users\a3bvmadmin\AppData\Local\Programs\Python\Python311\python.exe|C:\Users\a3bvmadmin\AppData\Local\Programs\Python\Python311\Lib\site-packages\wfastcgi.py" resourceType="Unspecified" requireAccess="Script" /> -->
        </handlers>
        <httpPlatform processPath="C:\inetpub\wwwroot\ManagementApp\src\backend\venv\Scripts\python.exe" arguments="C:\inetpub\wwwroot\ManagementApp\src\backend\app.py --port %HTTP_PLATFORM_PORT%" stdoutLogEnabled="true" stdoutLogFile="C:\inetpub\wwwroot\ManagementApp\src\backend\logs\python.log" startupTimeLimit="10" processesPerApplication="1">
        <environmentVariables>
            <environmentVariable name="SERVER_PORT" value="%HTTP_PLATFORM_PORT%" />
            <environmentVariable name="TEMP_DIRECTORY" value="C:\\Users\\a3bvmadmin\\AppData\\Local\\Temp\\2" />
        </environmentVariables>
        </httpPlatform>
        <security>
            <requestFiltering>
                <requestLimits maxAllowedContentLength="30000000" />
                <fileExtensions>
                </fileExtensions>
            </requestFiltering>
        </security>
        <staticContent>
            <clientCache cacheControlMode="NoControl" />
        </staticContent>
        <!-- タイムアウト設定 -->
        <httpProtocol>
            <customHeaders>
                <add name="Request-Timeout" value="900000" /> <!-- 600000ミリ秒 = 600秒 -->
            </customHeaders>
        </httpProtocol>
        <directoryBrowse enabled="true" />
    </system.webServer>
</configuration>
