.modal {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 30px;
    background-color: rgba(0, 0, 0, 0.8);
    z-index: 1000;
    animation: _src_components_Modal_module__fadeon 0.3s ease 0s;
    overflow: scroll;
}

.modalArea {
    width: 100%;
    max-width: 700px;
    margin: auto;
    animation: _src_components_Modal_module__scaleon 0.25s ease-out 0s;
}