<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <system.webServer>
        <rewrite>
            <rules>
                <rule name="ReverseProxyToBackend" enabled="true" stopProcessing="true">
                    <match url="^/(.*)" />
                    <action type="Rewrite" url="http://172.207.107.165:8081/{R:1}" />
                </rule>
                <rule name="RedirectToDocRegistration" enabled="true" patternSyntax="ECMAScript" stopProcessing="true">
                    <match url="^docregistration$" />
                    <action type="Rewrite" url="DocRegistration.html" />
                </rule>
            </rules>
        </rewrite>
        <handlers accessPolicy="Read, Script">
            <remove name="FlaskHandler" />
        </handlers>
        <directoryBrowse enabled="false" />
        <defaultDocument enabled="true">
            <files>
                <clear />
                <add value="app.py" />
                <add value="Default.htm" />
                <add value="Default.asp" />
                <add value="index.htm" />
                <add value="index.html" />
                <add value="iisstart.htm" />
                <add value="DocRegistration.html" />
            </files>
        </defaultDocument>
        <security>
            <requestFiltering>
                <requestLimits maxAllowedContentLength="30000000" />
            </requestFiltering>
        </security>
        <httpProtocol>
            <customHeaders>
                <add name="Request-Timeout" value="900000" />
                <add name="Access-Control-Allow-Origin" value="*" />
            </customHeaders>
        </httpProtocol>
    </system.webServer>
</configuration>
