<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <system.webServer>
        <rewrite>
            <rules>
                <rule name="CanonicalHostNameRule1" enabled="true">
                    <match url="(.*)" />
                    <conditions>
                        <add input="{HTTP_HOST}" pattern="^www\.a3-brains\.com$" negate="true" />
                    </conditions>
                    <action type="Redirect" url="http://www.a3-brains.com/{R:1}" />
                </rule>
                <rule name="ReverseProxyToBackend" enabled="true" stopProcessing="true">
                    <match url="^/(.*)" />
                    <action type="Rewrite" url="http://52.185.132.232:5003/{R:1}" />
                </rule>
                <rule name="RedirectToDocRegistration" enabled="true" patternSyntax="ECMAScript" stopProcessing="true">
                    <match url="^docregistration$" />
                    <action type="Rewrite" url="DocRegistration.html" />
                </rule>
                <rule name="https" enabled="true" stopProcessing="true">
                    <match url="(.*)" />
                    <conditions>
                        <add input="{HTTPS}" pattern="^OFF$" />
                    </conditions>
                    <action type="Redirect" url="https://{HTTP_HOST}/{R:1}" />
                </rule>
            </rules>
        </rewrite>
        <handlers accessPolicy="Read, Script">
            <remove name="FlaskHandler" />
        </handlers>
        <directoryBrowse enabled="false" />
        <defaultDocument enabled="true">
            <files>
                <clear />
                <add value="app.py" />
                <add value="Default.htm" />
                <add value="Default.asp" />
                <add value="index.htm" />
                <add value="index.html" />
                <add value="iisstart.htm" />
                <add value="DocRegistration.html" />
            </files>
        </defaultDocument>
        <security>
            <requestFiltering>
                <requestLimits maxAllowedContentLength="30000000" />
            </requestFiltering>
        </security>
        <httpProtocol>
            <customHeaders>
                <add name="Request-Timeout" value="900000" />
                <add name="Access-Control-Allow-Origin" value="*" />
            </customHeaders>
        </httpProtocol>
        <httpErrors errorMode="Detailed" />
    </system.webServer>
</configuration>
