<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <system.webServer>
        <rewrite>
            <rules>
                <rule name="ReverseProxyToBackend" stopProcessing="true">
                    <match url="^/(.*)" />
                    <action type="Rewrite" url="http://172.207.107.165:8081/{R:1}" />
                </rule>
            </rules>
        </rewrite>
        <handlers>
            <remove name="FlaskHandler" />
        </handlers>
    </system.webServer>
</configuration>
