.header {
    display: flex;
    justify-content: space-between;
    height: 80px;
    background-color: #5D9EB3;
    padding: 0 60px;
}

.headerTitleLeft {
    margin: auto 12px;
    font-weight: 600;
    text-align: left;
    color: #fff;
    font-size: 24px;
}

.headerTitleRight {
    margin: auto 12px;
    font-weight: 600;
    text-align: right;
    color: #fff;
}