.header {
    display: flex;
    justify-content: space-between;
    height: 100%;
    background-color: #5D9EB3;
}

.headerTitleLeft {
    margin-left: 12px;
    font-weight: 600;
    text-align: left;
    color: #fff;
}

.headerTitleRight {
    margin-left: 12px;
    font-weight: 600;
    text-align: right;
    color: #fff;
}